[project]
	description = Anaplan Connector for Mulesoft ESB
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vandan-mehta
[access "refs/for/refs/*"]
	read = group anaplan-engineering
	read = group user/vandan-mehta
	push = group anaplan-engineering
	push = group user/vandan-mehta
	label-Code-Review = -2..+2 group user/vandan-mehta
	label-Verified = -1..+1 group anaplan-engineering
	label-Verified = -1..+1 group user/vandan-mehta
	rebase = group anaplan-engineering
	rebase = group user/vandan-mehta
	removeReviewer = group anaplan-engineering
	removeReviewer = group user/vandan-mehta
	submit = group anaplan-engineering
	submit = group user/vandan-mehta
[access "refs/heads/*"]
	read = group user/vandan-mehta
	create = group user/vandan-mehta
	push = +force group user/vandan-mehta
	pushMerge = group user/vandan-mehta
[access "refs/tags/*"]
	push = +force group user/vandan-mehta
	pushTag = group user/vandan-mehta
	pushSignedTag = group user/vandan-mehta
