<!-- BEGIN_INCLUDE(anaplan:import-to-model) -->
	<anaplan:import-to-model
		data="#[payload]"
		workspaceId="Anaplan Workspace UUID"
		modelId="Anaplan Model UUID"
		importId="Anaplan Import Action UUID"
		columnSeparator=","
		delimiter="'" />
<!-- END_INCLUDE(anaplan:import-to-model) -->

<!-- BEGIN_INCLUDE(anaplan:export-from-model) -->
	<anaplan:export-from-model
		workspaceId="Anaplan Workspace UUID"
		modelId="Anaplan Model UUID"
		exportId="Anaplan Export action UUID" />
<!-- END_INCLUDE(anaplan:export-from-model) -->

<!-- BEGIN_INCLUDE(anaplan:delete-from-model) -->
	<anaplan:delete-from-model
		workspaceId="Anaplan Workspace UUID"
		modelId="Anaplan Model UUID"
		deleteActionId="Anaplan Delete action UUID" />
<!-- END_INCLUDE(anaplan:delete-from-model) -->

<!-- BEGIN_INCLUDE(anaplan:run-process) -->
	<anaplan:run-process
		workspaceId="#[header:workspaceId]"
		modelId="#[header:modelId]"
		actionId="#[header:processId]" />
<!-- END_INCLUDE(anaplan:run-process) -->
