<!-- BEGIN_INCLUDE(anaplan:config-auth-basic) -->
<anaplan:config-auth-basic name="anaplan-default-auth" username="someUserName"
             password="somePassword" />
<!-- END_INCLUDE(anaplan:config-auth-basic) -->
<!-- BEGIN_INCLUDE(anaplan:config-auth-cert) -->
<anaplan:config-auth-cert name="anaplan-cert-auth" ... />
<!-- END_INCLUDE(anaplan:config-auth-cert) -->